
body {
    font-size: 6em;
    text-align: center;
    background-color:#6495ed;
    color:white;
    font-family: helvetica;
    
    
}
input{
    font-size: 0.8em
}
button{
    font-size:0.8em
}

